  * {
      box-sizing: border-box;
  }
  /* styling for the body */
  
  body {
      margin: 0;
      padding: 0;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  /* main section of home page */
  
  .main {
      width: 80%;
      height: 400px;
      background-color: aquamarine;
      margin: 0 auto;
      border-radius: 0.8rem;
      position: relative;
  }
  /* anchor tag styling */
  
  .api {
      width: 80%;
      margin: 0 auto;
  }
  /* sections on home page */
  
  .header,
  .other,
  .api {
      width: 90%;
      text-align: left;
      padding: 0.5rem;
      margin: 0 auto;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
  }
  /* more on anchor */
  
  .api {
      margin-top: 3rem;
  }
  /* actual anchor link */
  
  .api a {
      margin-bottom: 1rem;
      text-decoration: none;
      color: black;
  }
  
  .other {
      font-size: 0.95rem;
  }
  /* survey button */
  
  #goToSurvey {
      background-color: black;
      color: white;
      width: 8rem;
      height: 3rem;
  }
  /* body of survey  */
  
  .wrapper {
      width: 80%;
      height: auto;
      margin: 0 auto;
      background-color: #7FFFD4;
      text-align: left;
      margin-bottom: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      border-radius: 0.8rem;
  }
  /* form elements */
  
  input,
  select {
      width: 100%;
      height: 2rem;
      border: 0.0625rem solid black;
      border-radius: 0.2rem;
  }
  /* the submit button */
  
  #submit {
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: black;
      color: white;
      height: 3rem;
  }
  /* modal styling */
  /* The Modal (background) */
  
  .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
  }
  /* Modal Content */
  
  .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }
  /* The Close Button */
  
  .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }